.heroContainer {
  margin: 0 auto;
  background-image: url('../assets/hero-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;
  padding: 2rem;
  position: relative;
}

.heroContent {
  background-color: #fff;
  position: absolute;
  top: 3rem;
  left: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.3rem 2.6rem;
  text-align: right;
  border-radius: 3px;
}

.contentHeader {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contentText {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
