:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  font-weight: 500;
  color: #c72c72;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #b32967;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 2px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

input {
  border: transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.25s ease-in-out;
}

input:focus {
  outline: none;
}

.btn-primary {
  background: linear-gradient(30deg, #644775 0%, #c72c72 100%);
  color: #ffffff;
}
.btn-secondary {
  background-color: #ffffff;
  color: #c72c72;
  border: 1px solid #c72c72;
}
.btn-icon {
  color: #c72c72;
  font-size: 25px;
  padding: 0.5em;
}
.btn-primary:hover {
  background: linear-gradient(30deg, #5a4169 0%, #b32967 100%);
}
.btn-secondary:hover {
  background-color: #fce9f2;
}
.btn-fb {
  background-color: #3b5998;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.btn-fb:hover {
  background-color: #334c81;
}
.btn-fb i {
  font-size: 1.3rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  overflow: hidden;
  text-align: center;
  margin-top: 1.2rem;
  color: #858585;
}
.divider:before,
.divider:after {
  background-color: #ccc;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.divider:before {
  right: 0.5em;
  margin-left: -50%;
}
.divider:after {
  left: 0.5em;
  margin-right: -50%;
}
