.inputField {
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
}

.label {
  font-size: 0.9rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 2rem;
  width: 100%;
}

.input {
  width: 100%;
}

.inputWrapper:focus-within {
  outline: none;
  border: 1px solid #646cff;
}

.info {
  /* margin-top: 10px; */
  font-size: 0.75rem;
  padding: 0 5px;
}

.labelFields {
  display: flex;
  justify-content: space-between;
  padding-block: 5px;
}

.errorMessage {
  color: #cc2c53;
  font-size: 0.8rem;
  padding: 0;
}
