.navbar {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 35px;
  margin-right: 0.7rem;
}

.typeface {
  font-size: 1.7rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-icon {
  position: relative;
}

.alert {
  position: absolute;
  top: 12px;
  right: 22px;
  color: red;
  font-size: 0.8rem;
}
